/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.

Make sure to learn what the starter code does!!
*/
@import url('https://fonts.googleapis.com/css?family=Andika&display=swap');

body{
  color: black;
  font-family: 'Andika', sans-serif;
  font-size: 16px;
  margin: 1.2em;
  background-image: url("../images/pigeon-background.JPEG");
  background-color: #DDDDDD;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover ;
}
main{
  margin-bottom: 100px;
}

h1{
  color: #8000FF;
  font-size: 2em;
  line-height: 1.5;
  text-align: center;
}

caption{
  margin:5px 0px;
}

p{
  color: #000000;
  font-size: 16px;
  padding-top: 10px;
}

a {
  font-size: 16px;
  color: #83163A;
  /*starting with #C12258, #83163A was the first color to pass */
  text-decoration: underline wavy;
}

table{
  border-top: 2px solid black;
  border-collapse: separate;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

.colhead{
  background-color: #7e0820;
  color: white;
  min-width: 100px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.rowhead{
  border-top: 2px solid #000000;
}

td{
  padding: 15px;
  border-top: 2px solid #000000;
}

tr{
  border-top: 2px solid #000000;
}

tr:nth-child(odd){
  background-color: #D1D1D1;
}

tr:nth-child(even){
  background-color: transparent;
}

tr:hover {
  background-color: #7e0820;
  opacity: 0.5;
  transition: 1s;
  /*added as part of Deeper Questions*/
}

*:focus{
  border: 2px solid #000000;
}

thead tr:first-child th:first-child{
  border-top-left-radius: 15px;
}

thead tr:first-child th:last-child{
  border-top-right-radius: 15px;
}

tbody tr:last-child td:last-child{
  border-bottom-right-radius: 15px;
}

tbody tr:last-child th:first-child{
  border-bottom-left-radius: 15px;
  
}

footer{
  position:fixed;
  left:0px;
  bottom:0px;
  min-height: 60px;
  width:100%;
  background:black;
  text-align:center;
}
footer p {
  color: white;
}
